@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adsi</h1>
    <p class="lead">The system is divided to two part. This is the entry for administrator</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

